<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Triangle-Chip Initial Mapping</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Triangles</key>
	<array>
		<dict>
			<key>chipCount</key>
			<integer>2</integer>
			<key>chipColor</key>
			<true/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<true/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>5</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>3</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>5</integer>
			<key>chipColor</key>
			<true/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>5</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>3</integer>
			<key>chipColor</key>
			<true/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>5</integer>
			<key>chipColor</key>
			<true/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>0</integer>
			<key>chipColor</key>
			<false/>
		</dict>
		<dict>
			<key>chipCount</key>
			<integer>2</integer>
			<key>chipColor</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
